/* Roboto Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

#timeline {
    margin-top: 100px;
    margin-bottom: 20px;
}

#timeline .row {
    display: flex;
    justify-content: center;
}

#timeline .timeline-wrapper {
    width: 1100px;
    position: relative;
    height: 200px;
}

#timeline .number {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100px;
    background-color: #595959;
    border-radius: 50%;
    z-index: 1;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeline .number1 {
    left: 50px;
}

#timeline .number2 {
    left: 350px;
}

#timeline .number3 {
    left: 650px;
}

#timeline .number4 {
    left: 950px;
}

#timeline .line {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 850px;
    height: 3px;
    background-color: #FBB03B;
    z-index: 0;
}

#timeline .content {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    top: 120px;
    text-transform: uppercase;
    width: 140px;
    text-align: center;
}

#timeline .content2 {
    left: 330px;
}

#timeline .content3 {
    left: 630px;
}

#timeline .content4 {
    left: 930px;
}